* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./assets/weather_bg.png");
  background-color: #222222;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
